section.about {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 50vw;
    height: 50vw;
    background-color: $black-color;
    transform: rotate(45deg);
    position: absolute;
    left: 45%;
    bottom: 20%;
    z-index: -1;
  }
}


.about__content {
  width: 40%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 100px;
}

.about__title {

}

.about__descriptionion {
  color: $grey-color-second;
  text-align: justify;
}

.about__button {
  background-color: $main-color;
  color: #fff;
}

.about__image {
  width: 60%;

  img {
    width: 100%;
    height: auto;
  }

}