@font-face {
  font-family:"Lemon/Milk";
  src:url("../fonts/lemon/LemonMilk.eot") format("eot"),
  url("../fonts/lemon/LemonMilk.woff") format("woff"),
  url("../fonts/lemon/LemonMilk.ttf") format("truetype"),
  url("../fonts/lemon/LemonMilk.svg#LemonMilk") format("svg");
  font-weight:normal;
  font-style:normal;
}


$main-color: #bc2e3a;
$banner-color: #65191f;
$black-color: #171717;
$grey-color: #494949;
$grey-color-second: #636363;
$grey-color-third: #f5f5f5;

$font-lato: 'Lato', sans-serif;
$font-lemon: "Lemon/Milk";
$font-open-sans: 'Open Sans', sans-serif;