@import '_variables.scss';
@import '_normalize.scss';
@import '_header.scss';
@import '_about.scss';
@import '_agency-work.scss';

body {
  font-family: $font-lato;
    max-width: 100vw;
    overflow-x: hidden;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
section.about, section.agency-work{
  padding-top: 80px;
  padding-bottom: 80px;
}

.button {
  font-family: $font-lato;
  font-weight: 700;
  width: 195px;
  height: 55px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
}
button:hover{
  cursor: pointer;
}

.section__title {
  font-family: $font-lato;
  font-size: 60px;
  font-weight: 900;
  color: $grey-color;
}

.agency-workflow{}
.agency-workflow__title{}

.workflow__description{}
.section__title{}
.agency-workflow__content{}
.about__button{}


.agency-workflow__image{

}