@import '_variables.scss';
@import '_normalize.scss';
@import '_header.scss';
@import '_about.scss';

body {
  font-family: $font-lato;
}
.container{
  width: 1200px;
  margin: 0 auto;
}

section {
}

.button {
  font-family: $font-lato;
  font-weight: 700;
  width: 195px;
  height: 55px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
}
button:hover{
  cursor: pointer;
}

.section__title {
  font-family: $font-lato;
  font-size: 60px;
  font-weight: 900;
  color: $grey-color;
}

.agency-work{
}
.agency-work__title{}
.agency-work__content{}
.agency-work__details{
  display: flex;
}
.agency-work__icon{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $main-color;

  display: flex;
  justify-content: center;
  align-items: center;

  img{
  }
}
.agency-work__subtitle{
  font-family: $font-lato;
  font-size: 30px;
  font-weight: 900;
  color: $grey-color;
}
.agency-work__description{}



